<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Carbohydrate:</strong>
    <%= product.carbohydrate %>
  </p>

  <p>
    <strong>Protein:</strong>
    <%= product.protein %>
  </p>

  <p>
    <strong>Fat:</strong>
    <%= product.fat %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= product.calories %>
  </p>

  <p>
    <strong>Supermarket link:</strong>
    <%= link_to product.supermarket_link, product.supermarket_link %>
  </p>

</div>
